* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Code */

header {
    background-color: #333;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 100%;
    line-height: 45px;
    background-color: #161617;
    color: white;
    position: fixed;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.align-right{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 70px;
    place-items: right;
}

.search-bar {
    display: flex;
    align-items: right;
    text-align: right;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 0px;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.round-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.dev-connect {
    font-size: 18px;
    font-weight: bold;
}

.gol-button{
    display: flex;
    align-items: center;
    width: 50px;
    margin-left: 5px;
}

/* Landing Page */

.landingpage{
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-rows: 300px auto;
}

.landingpage .aboutus{
    text-align: center;
    margin-top: 45px;
    color: white;
    padding: 100px 10% 0px 10%;
}

.landingpage .aboutus p{
    padding-top: 20px;
}

.landingpage .ThreeOptions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 10% 0px 10%;
}

.landingpage .ThreeOptions .theoptions{
    margin: 20px;
    background-color: white;
    text-align: center;
    height: 200px;
    display: grid;
    place-items: center
        ;
}
